div nav p {
    background-color: brown;
    color: white;
    font-size: 20px;
}

div.elementoConClass nav p {
    background-color: black;
    color: red;
}

div#elementoConId nav p {
    background-color: black;
    color: purple;
}

div.elementoConClass.elementoConClassDos nav p{
    background-color: white;
    color: black;
}

div.elementoConClass#elementoConId nav p{
    background-color: aqua;
    color: white;
}

div#elementoConId.elementoConClassDos nav p{
    background-color: cadetblue;
    color: white;
}

.elementoConClass nav p{
    border: 4px double red;
}